* {
	margin: 0;
	padding: 0;
}

html,
body,
input,
select,
textarea {
	font-family: 'Open Sans', Cambria, Arial, sans-serif;
}

sub {
	position: relative;
	top: 8px;
}

sup {
	position: relative;
	top: -4px;
}

table {
	border-spacing: 0;
}

table th {
	font-weight: bold;
}

textarea {
	font-size: 15px;
}

html,
body {
	width: 100%;
	height: 100%;
}

p {
	margin: 8px 0;
}

.quiz-choice-text {
	padding-left: 12px;
}

.quiz-choice {
	padding: 2px 0;
}

.correct {
	background-color: #d0ffd2;
}

.wrong {
	background-color: #ffd0d0;
}

.missed {
	background-color: #d0f0ff;
}

.quiz-choice:hover {
	background-color: #feffe2;
}

.quiz-choice-text {
	cursor: pointer;
}

#hud-timer {
	position: absolute;
	font-size: 20px;
	font-weight: bold;
	padding: 0 30px;
	display: none;
}

#editor-notifications {
	position: relative;
	top: 1px;
	font-size: 16px;
	font-weight: bold;
	padding: 0 30px 0 30px;
	display: none;
}

#quizmaster-control-bar {
	width: 100%;
	position: fixed;
	background: #000 url(../images/logo.png) left center no-repeat;
	padding-left: 206px;
	color: #fff;
	height: 52px;
	min-width: 800px;
}

#quiz-area {
	padding: 84px 24px 12px 24px;
}

#quiz-list {
	position: relative;
	top: -1px;
	width: 220px;
	margin: 0;
	padding: 0;
	height: 38px;
	line-height: 38px;
	line-height:;
	border: none;
}

.default-btn {
	background-color: #0076ee;
	padding: 8px;
	transition: background-color 0.2s;
	cursor: pointer;
	color: #fff;
}

.default-btn:hover {
	background-color: #228fff;
}

.tq-tr,
.rq-tr,
.ss-tr {
	text-align: center;
}

.tq-tr,
.rq-tr {
	padding: 0 !important;
	width: 1%;
	white-space: nowrap;
}


.overlay {
	display: table;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.90);
	text-align: center;
}

#result {
	display: table-cell;
	vertical-align: middle;
	color: #fff;
	font-size: 52px;
	text-align: center;
}

#qlist-table {
	width: 100%;
	font-size: 15px;
	border-collapse: collapse;
}

#qlist-table td,
#qlist-table th {
	padding: 6px 10px;
	border: 1px solid #eee;
}

#qlist-table th {
	color: #000;
}

#qlist-table td {
	background-color: #fff;
	color: #000;
	font-size: 14px;
}

#add-quiz,
#import-quiz {
	display: none;
}

#end-quiz-btn {
	display: none;
}

#editor-control {
	margin-top: 17px;
	margin-left: 22px;
	display: none;
}

#quiz-control {
	margin-top: 17px;
	margin-left: 22px;
}

.adv-opts {
	opacity: 0;
}

.hiddenRemove {
	display: none;
}

.choice:hover > .hiddenRemove {
	display: inline;
}

/* editor */
* {
    text-align: left;
}

.qcheck {
    width: 24px;
}

.qcheck input {
	margin-top: 8px;
}

.rem-ch {
    width: 24px;
}

.rem-q {
    width: 24px;
}

.rem-q button,
.rem-ch button {
	padding: 1px 6px;
}

.choice-text {
	padding-top: 4px;
}

.num-col {
    width: 60px;
    min-width: 60px;
    text-align: right;
    padding-right: 16px;
}

.spacer {
    height: 22px;
}

.spacer-small {
	height: 8px;
}

#details tr td {
    text-align: right;
    padding-right: 16px;
    width: 120px;
}

table[id=details],
table[id=details] table,
table[id=items],
table[id=items] table {
    width: 100%;
}

table[id=details] *,
table[id=items] * {
	vertical-align: top;
}

.choice-text:empty,
.qtext:empty {
    border-bottom: 1px dotted black;
}

#details tr th:hover,
#details tr th:focus,
.choice:hover .choice-text,
.qtext:hover,
.qtext:focus,
.choice:focus .choice-text {
    background-color: #FEFFE2;
}

.choice:hover .rem-ch button,
.question:hover .rem-q button {
	display: inline;
}

#dl-area {
	padding-left: 24px;
}

.local-storage-item {
	font-size: 22px;
	cursor: pointer;
	padding: 0 120px;
}

.local-storage-item:hover {
	background-color: black;
}

.remove-savefile-btn {
	float: right;
}

.savefile:hover {
	font-weight: bold;
}

.local-storage-item:hover .tstamp {
	display: inline;
}

.remove-savefile-btn:hover {
	font-weight: bold;
}

.rem-ch > button,
.rem-q > button {
	display: none;
}

.tstamp {
	position: relative;
	top: -12px;
	font-size: 12px;
	font-weight: normal;
	opacity: 0.75;
	display: none;
}

.onoffswitch {
    position: relative; width: 66px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #E6E6E6; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 22px; padding: 0; line-height: 22px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #0076EE; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #8F8F8F;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 12px; margin: 5px;
    background: #FFFFFF;
    border: 2px solid #E6E6E6; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 40px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

@media print {
	#quizmaster-control-bar {
		display: none;
	}
}